{
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "browser": true
      },
    "rules": {
        "no-unused-vars": "warn",
        "require-await": "error"
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
      }
}