body
{
    background-color: #404040;
    margin: 0;

    touch-action: none;
}

#gamecanvas
{
    background: black;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
	/*image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;*/

    margin: auto;
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#gamecanvas:focus {
    outline: none;
}

#fullscreen_icon {
    height: 8vmin;
    top: 1vmin;
    right: 1vmin;
}
#restart_icon {
    height: 8vmin;
    top: 12vmin;
    right: 1vmin;
}
#sound_icon {
    height: 8vmin;
    top: 1vmin;
    left: 1vmin;
}
#music_icon {
    height: 8vmin;
    top: 12vmin;
    left: 1vmin;
    visibility: hidden;
}
#dpad_icon {
    height: 40vmin;
    left: 4vmin;
    top: 0;
    bottom: 0;
    visibility: hidden;
}
#a_icon {
    height: 15vmin;
    right: 4vmin;
    top: 50vmin;
    bottom: 50vmin;
    visibility: hidden;
}
#b_icon {
    height: 15vmin;
    right: 15vmin;
    top: 60vmin;
    bottom: 40vmin;
    visibility: hidden;
}

img.circle {
    background: #C0C0C0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    margin: auto;
    display: block;
    position: absolute;
    padding: 1vmin;

    cursor: pointer;
}

@font-face {
    font-family: 'ElGato';
    src: url('data/gamefont.ttf');
}